asgiref==3.8.1
certifi==2024.2.2
charset-normalizer==3.3.2
colorama==0.4.6
contextlib2==21.6.0
distlib==0.3.9
Django==5.1.5
docopt==0.6.2
filelock==3.17.0
idna==3.6
internetarchive==3.7.0
jsonpatch==1.33
jsonpointer==2.4
packaging==24.2
pipenv==2024.4.0
platformdirs==4.3.6
requests==2.31.0
schema==0.7.5
setuptools==75.8.0
sqlparse==0.5.3
tqdm==4.66.2
tzdata==2024.2
urllib3==2.2.1
virtualenv==20.29.1
